@import "lato.css";

body {
    font-size: 16px;
    font-family: 'Lato', Helvetica, Arial;
    background-color: #edeceb;
}

a {
    text-decoration: none;
    color: #0367b0;
}

a:hover {
    text-decoration: underline;
}

.hidden-table {
    width: 100%;
    border: 0px;
    border-spacing: 0px;
}

#container {
    max-width: 50em;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
    background-color: white;
    border-radius: 20px;
}

#info {
    padding-left: 35px;
}

.position {
    margin-top: 5px;
    display: inline-block;
    list-style-type: none;
}

#social {
    margin-top: 20px;
    list-style-type: none;
}

#photo {
    vertical-align: middle;
    width: 26%;
}

#photo img {
    border-radius: 50%;
    width: 100%;
}

#bio {
    padding-top: 20px;
    padding-bottom: 12px;
}

.pub-teaser {
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
    width: 22%;
}

.pub-teaser img {
    width: 100%;
}

#preview {
    position: absolute;
    border: 1px solid black;
    background: white;
    padding: 5px;
    transition: opacity 200ms;
    opacity: 0;
}

.pub-info {
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
    padding-left: 30px;
}

.title {
    font-weight: bold;
}

.authors a {
    color: black;
}

.authors span {
    display: inline-block;
}

.authors .me {
    text-decoration: underline;
}

.publisher {
    margin-right: 6px;
}

.highlights {
    color: red;
    font-weight: bold;
}

.items span {
    display: inline-block;
}
